<h1>Stupid coaching</h1>
<h5>Ask your coach anything:</h5>
<!--in form action, you can tell it which page
to go to-->
<form action="/answer">
  <input type="text" name="question"
  placeholder="go on...">
  <input type="submit" class="btn btn-primary">
</form>
